  
<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <div class="login-header">
      <h1>Login or Register</h1>
      <p>Enter user name and password to login.</p>
    </div>

    <div class="login-bottom">
      <div>
        <input type="text" autofocus="true" ng-model="account.email" class="form-control" placeholder="User Name">
      </div>
      
      <div>
        <input type="password" ng-model="account.password" class="form-control" placeholder="Password">
      </div>
      
      <button ng-click="login()" class="login-btn">Login</button>
      <button ng-click="register()" class="login-btn">Register</button>
    </div>

  </div>
</div>
