<nav ng-include="'partials/song-nav.html'"></nav>

<div class="row">
  
  <!-- song NAME filter -->
  <div class="col-md-3">
    <input type="text" ng-model="query" class="form-control" placeholder="Search Songs">
    <!-- <input type="text" ng-model="songSearchText.song" class="form-control" placeholder="Search Song Names"> -->

    <!-- <div ng-include="'partials/song-checkboxes.html'"></div> -->
 
    <ul class="genreChkBox">
      <li ng-repeat="song in track_list">
         <input type="checkbox" ng-model="song.chkBoxFilter">{{ song.genre }}
      </li>
    </ul>

    <div style="margin-top: 40px;">
      <a class="basic-btnA" href="#/songs/new">Create New Song</a>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-1">
    <div class="songList">
      <h1>Play List</h1>
      <ol>
        <li ng-repeat="song in track_list | filter:query | filter:chkBoxFilter">
          <a href="#/songs/{{ song.id }}">{{ song.song }}</a>
        </li>
      </ol>
      <!-- <div ng-repeat="song in track_list" class="songList">
        <a href="#/songs/{{ song.id }}">{{ song.song }}</a>
      </div>
     -->
    </div>
  </div>

  
</div>
