<!-- LIST MUSIC - genre check boxes-->
<div class="genreChkBox">

  <div class="checkbox">
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" value="Synthpop"> Synthpop
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" value="Industrial"> Industrial
    </label>
  </div>

  <div class="checkbox">
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" value="Alternative"> Alternative
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" value="Grunge"> Grunge
    </label>
  </div>
  
  <div class="checkbox">
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" value="GothRock"> Goth Rock
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" value="80sPop"> 80's Pop
    </label>
  </div>



</div>